/*
==========================================================================
   1. VARIABLES & BASE STYLES
==========================================================================
*/

:root {
  font-family: Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
}

.explorer-panel body {
  color: var(--explorer-text-color);
}
/*
:root {
  --svg-grid :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="7" height="7" x="3" y="3" rx="1"/><rect width="7" height="7" x="14" y="3" rx="1"/><rect width="7" height="7" x="14" y="14" rx="1"/><rect width="7" height="7" x="3" y="14" rx="1"/></svg>';
  --svg-list :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" x2="21" y1="6" y2="6"/><line x1="8" x2="21" y1="12" y2="12"/><line x1="8" x2="21" y1="18" y2="18"/><line x1="3" x2="3.01" y1="6" y2="6"/><line x1="3" x2="3.01" y1="12" y2="12"/><line x1="3" x2="3.01" y1="18" y2="18"/></svg>';
  --svg-tree :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-tree-icon lucide-folder-tree"><path d="M20 10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2.5a1 1 0 0 1-.8-.4l-.9-1.2A1 1 0 0 0 15 3h-2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1Z"/><path d="M20 21a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-2.9a1 1 0 0 1-.88-.55l-.42-.85a1 1 0 0 0-.92-.6H13a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1Z"/><path d="M3 5a2 2 0 0 0 2 2h3"/><path d="M3 3v13a2 2 0 0 0 2 2h3"/></svg>';
  --svg-folder:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-icon lucide-folder"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/></svg>';
  --svg-folderUp:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-up-icon lucide-folder-up"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/><path d="M12 10v6"/><path d="m9 13 3-3 3 3"/></svg>';
  --svg-fileMD :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-text-icon lucide-notebook-text"><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><rect width="16" height="20" x="4" y="2" rx="2"/><path d="M9.5 8h5"/><path d="M9.5 12H16"/><path d="M9.5 16H14"/></svg>';
  --svg-filePDF :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text-icon lucide-file-text"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>';
  --svg-fileEX :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-ruler-icon lucide-pencil-ruler"><path d="M13 7 8.7 2.7a2.41 2.41 0 0 0-3.4 0L2.7 5.3a2.41 2.41 0 0 0 0 3.4L7 13"/><path d="m8 6 2-2"/><path d="m18 16 2-2"/><path d="m17 11 4.3 4.3c.94.94.94 2.46 0 3.4l-2.6 2.6c-.94.94-2.46.94-3.4 0L11 17"/><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>';
  --svg-fileDIO :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-ruler-icon lucide-pencil-ruler"><path d="M13 7 8.7 2.7a2.41 2.41 0 0 0-3.4 0L2.7 5.3a2.41 2.41 0 0 0 0 3.4L7 13"/><path d="m8 6 2-2"/><path d="m18 16 2-2"/><path d="m17 11 4.3 4.3c.94.94.94 2.46 0 3.4l-2.6 2.6c-.94.94-2.46.94-3.4 0L11 17"/><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>';
  --svg-file :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-question-mark-icon lucide-file-question-mark"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M12 17h.01"/><path d="M9.1 9a3 3 0 0 1 5.82 1c0 2-3 3-3 3"/></svg>';
  --svg-fileIMG:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/><circle cx="9" cy="9" r="2"/><path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/></svg>';
  --svg-home :'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>';
  --svg-close:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>';
  --svg-filterOff:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off-icon lucide-eye-off"><path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/><path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/><path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/><path d="m2 2 20 20"/></svg>';
  --svg-filterOn:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>';
  --svg-window:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M3 9h18"/></svg>';
  }
 */ 
/*
==========================================================================
   2. LAYOUT CONTAINER
==========================================================================
*/

.explorer-panel {
  display: flex;
  background: var(--explorer-bg-color);
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.document-explorer {
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto !important;
  padding: 0.5em;
  width: 100%;
  gap: 8px;
  align-content: start;
  scroll-behavior: smooth;
}

/*
==========================================================================
   3. HEADER & NAVIGATION
==========================================================================
*/

.explorer-header {
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--explorer-border-color);
  box-shadow: 0px 2px 6px 0 oklch(0 0 0 / 0.3);
}

/* --- Tool Bar --- */
.explorer-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 6px 8px 3px 8px;
  width: 100%;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 4em;
  flex-grow: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within {
  flex-grow: 1;
  box-shadow: 0px 2px 6px 0 oklch(0 0 0 / 0.3);
}

.explorer-toolbar input {
  height: 100%;
  width: 100%;
  padding: 4px 7px;
  border-radius: 6px;
  border: none;
  outline: 1px solid var(--explorer-border-color);
  color: inherit;
  font-size: 0.95em;
  box-sizing: border-box;
  cursor: pointer;
  background: var(--explorer-tile-bg);
}

.explorer-toolbar input:hover { background: var(--explorer-hover-bg); }
.explorer-toolbar input:focus {
  cursor: text;
  outline: 2px solid var(--explorer-border-color);
  box-sizing: border-box;
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: oklch(0.5 0 0);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

/* --- View Switcher --- */
.view-switcher {
  display: flex;
  background: oklch(0.75 0 0 / 0.1);
  padding: 3px;
  border-radius: 8px;
  border: 1px solid var(--explorer-border-color);
}

.view-switcher div {
  display:flex;
  background: transparent;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: inherit;
  opacity: 0.6;
}

.view-switcher div:hover {
  opacity: 1;
  background: var(--explorer-hover-bg);
}

.view-switcher div.active {
  background: var(--explorer-accent-color);
  color: var(--explorer-text-color);
  opacity: 1;
}

.explorer-action-btn, 
.explorer-close-btn {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--explorer-tile-bg);
  border: 1px solid var(--explorer-border-color);
  border-radius: 6px;
  cursor: pointer;
}

.explorer-action-btn { font-size: 1.1em; }
.explorer-action-btn:hover { background: var(--explorer-hover-bg); }
.explorer-close-btn:hover { background: oklch(0.65 0.22 30); }
.explorer-close-btn svg:hover { stroke: white; }

#filter-btn:hover {
  background: var(--explorer-hover-bg) !important;
}


/*--------- Hide Action Buttons when Filter in focus ------------- */


.view-switcher, 
#filter-btn, 
.action-buttons .explorer-action-btn {
  max-width: 200px; 
  opacity: 1;
  display: flex;
/*  overflow: hidden;
  white-space: nowrap;*/
  transition: 
    max-width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    padding-inline 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}


.input-wrapper:focus-within ~ .view-switcher,
.input-wrapper:focus-within ~ #filter-btn,
.input-wrapper:focus-within ~ .action-buttons > .explorer-action-btn {
  max-width: 0;
  opacity: 0;
  padding-inline: 0;
  pointer-events: none;
}

.input-wrapper {
  transition: 
    flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
    width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within {
  flex-grow: 1;
}
.explorer-toolbar {
  transition: gap 0.4s ease;
}

.explorer-toolbar:focus-within {
  gap: 0px;
  transition: gap 0.4s ease;
}

/*

.input-wrapper:focus-within ~ .view-switcher {
  margin-left: -4px; 
}
*/


/*
.input-wrapper {
  transition: 
    flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
    width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within ~ .view-switcher,
.input-wrapper:focus-within ~ #filter-btn,
.input-wrapper:focus-within ~ .action-buttons > .explorer-action-btn {
  opacity: 0;
  max-width: 0;
  display: none;
}

.input-wrapper:focus-within ~ .action-buttons > .explorer-action-btn {
  display: none;
}

.explorer-toolbar {
  transition: gap 0.4s ease;
}

.input-wrapper:focus-within {
  flex-grow: 1;
  width: auto; 
}

*/


/* --- Breadcrumbs --- */
.explorer-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 4px 8px 6px 8px;
  font-size: 0.8em;
  align-items: center;
}

.explorer-breadcrumbs a {
  text-decoration: none;
  color: var(--link-color);
}

.explorer-breadcrumbs a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
==========================================================================
   4. SHARED TILE COMPONENTS (Icon, Title, Thumbnails)
==========================================================================
*/

.grid-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--explorer-text-color);
  user-select: none;
}

.grid-tile:hover { background: var(--explorer-hover-bg); }

.grid-tile.is-dragging {
  outline: 3px dotted var(--explorer-accent-color) !important;
  outline-offset: 3px;
  z-index: 100;
}

.grid-title {
  height: calc(var(--tile-size) * 0.3);
  text-align: center;
  font-size: clamp(0.6em, calc((var(--tile-size) / 80px) * 0.8em), 1.0em);         
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  box-sizing: border-box;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc((var(--tile-size) / 80px) * 3em);
  height: calc(var(--tile-size) * 0.7);
  pointer-events: none;
  box-sizing: border-box;
}

.tile-thumb {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
}



/*
==========================================================================
   5. GRID MODE SPECIFIC
==========================================================================
*/

.mode-grid .document-explorer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-size), 1fr));
  grid-auto-rows: var(--tile-size);
}

.mode-grid .image-tile .icon {
  margin-top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

/*
==========================================================================
   6. LIST & TREE MODE (Shared Styles)
==========================================================================
*/

.mode-list .document-explorer,
.mode-tree .document-explorer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  align-items: stretch;
}

.mode-list .grid-tile,
.mode-tree .grid-tile {
  flex-direction: row;
  height: var(--list-tile-height);
  padding: 0 2px 0 0px;
  align-content: center;
  gap: calc((var(--list-tile-height) / 24px) * 8px);
  justify-content: flex-start;
  flex-shrink: 0;
  width: auto;
}


.mode-list .icon,
.mode-tree .icon {
  margin-top: 0 !important;
  font-size: calc((var(--list-tile-height) / 24px) * 18px);
  width: var(--list-tile-height);
  height: var(--list-tile-height);
  flex-shrink: 0;
  overflow: visible;
}

.mode-list .grid-title, 
.mode-tree .grid-title {
    display: block;
    align-content: center;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc((var(--list-tile-height) / 24px) * 16px);
}

/*
==========================================================================
   7. TREE VIEW SPECIFIC
==========================================================================
*/

.mode-tree .tree-view-container { padding-left: 5px; }

.mode-tree { 
 --left-padding: 15px;
 --icon-center: calc((var(--list-tile-height) / 2));
 --tree-indent: calc((var(--icon-center) + var(--left-padding)));
}

.mode-tree .tree-content {
 margin-left: var(--tree-indent) !important;
 position: relative;
 display: flex;
 flex-direction: column;
}

/* Vertical Tree Lines */
.mode-tree .tree-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  bottom: calc(var(--icon-center) - 2px); 
  border-left: 2px solid var(--explorer-border-color);
}

/* Horizontal Tree Lines */
.mode-tree .tree-file::before {
  content: "";
  position: absolute;
  left: 0px;
  top: var(--icon-center);
  width: var(--left-padding);
  border-top: 2px solid var(--explorer-border-color);
}

.tree-view-container > .tree-file::before,
.tree-view-container > .tree-folder::before {
 display: none;
}

.mode-tree .tree-file {
 position: relative;
 padding-left: var(--left-padding) !important;
}

.mode-tree .tree-folder { position: relative;}

/* Details/Summary overrides */
.mode-tree details,
.mode-tree summary { list-style: none; }
.mode-tree summary::-webkit-details-marker { display: none; }

/* --- Tree Chevron via Pseudo-element --- */
.mode-tree summary.folder-tile {
 position: relative;
 padding-left: var(--left-padding);
}

.mode-tree summary.folder-tile::before {
    content: "›";
    position: absolute;
    top: 0;
    height: 100%;
    line-height: var(--list-tile-height); 
    left: 2px;
    width: var(--left-padding);
    text-align: center;
    font-size: calc(var(--left-padding)); 
    transition: transform 0.2s ease;
    transform: translateY(-2px);
    display: inline-block;
    opacity: 1;
    z-index: 2;
}

/* Chevron Animation */
.mode-tree details[open] > summary.folder-tile::before {
  transform: rotate(90deg);
}


/*
==========================================================================
   8. FILE EXTENSIONS & BADGES
==========================================================================
*/

/* Shared badge style */
.grid-tile::after {
  position: absolute;
  top: 4px;
  right: 4px;
  color: white;
  font-size: clamp(0.4em, calc((var(--tile-size) / 80px) * 0.6em), 0.8em);
  font-weight: bold;
  padding: 1px 4px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 5;
}

/* List/Tree badge repositioning */
.mode-list .grid-tile::after, 
.mode-tree .grid-tile::after {
    position: relative;
    width: max-content; 
    height: fit-content;
    align-self: center; 
    margin-left: auto; 
    margin-right: 2px;   
    top: auto;
    right: auto;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    padding: 2px 6px;    
    white-space: nowrap; 
    line-height: 1;      
    font-size: clamp(8px, calc((var(--list-tile-height) / 24px) * 12px), 20px);
}

/* Extension specific colors */
html[data-theme="dark"] {
.md-tile::after { content: "MD"; background: oklch(from var(--file-md-color) 0.5 c h);}
.pdf-tile::after { content: "PDF"; background: oklch(from var(--file-pdf-color) 0.5 c h); }
.image-tile::after { content: "IMG"; background: oklch(from var(--file-img-color) 0.5 c h); }
.excalidraw-tile::after { content: "EX"; background:oklch(from var(--file-ex-color) 0.5 c h); }
.drawio-tile::after { content: "DIO"; background: oklch(from var(--file-dio-color) 0.5 c h); }
.unknown-tile::after { content: attr(data-ext); background: oklch(from var(--file-unk-color) 0.5 c h); }
}


html[data-theme="light"] {
.md-tile::after { content: "MD"; background: oklch(from var(--file-md-color) l c h);}
.pdf-tile::after { content: "PDF"; background: oklch(from var(--file-pdf-color) l c h); }
.image-tile::after { content: "IMG"; background: oklch(from var(--file-img-color) l c h); }
.excalidraw-tile::after { content: "EX"; background:oklch(from var(--file-ex-color) l c h); }
.drawio-tile::after { content: "DIO"; background: oklch(from var(--file-dio-color) l c h); }
.unknown-tile::after { content: attr(data-ext); background: oklch(from var(--file-unk-color) l c h); }
}
/* 
==========================================================================
   9. OVERLAYS (Context Menu)
==========================================================================
*/

#explorer-context-menu {
  font-weight: bold;
  background: var(--explorer-bg-color);
  border: 1px solid var(--explorer-border-color);
  border-radius: 6px;
  box-shadow: 0 4px 15px 0 oklch(0 0 0 / 0.5);
  padding: 4px;
  width: 80px;
 /* backdrop-filter: blur(10px);*/
}

#explorer-context-menu .menu-item {
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.85em;
  color: var(--explorer-text-color);
  text-align: center;
}

#explorer-context-menu .menu-item:hover {
  background: var(--explorer-hover-bg);
  
}

#explorer-context-menu .menu-item.delete { color: oklch(0.75 0.3 30);}
#explorer-context-menu .menu-item.delete:hover { background: red; color: white; }

/*
==========================================================================
   10. ICONS 
==========================================================================
*/

.action-buttons svg {
 max-height: 24px;
 max-width: 24px;
}
.explorer-panel svg {
  stroke: var(--explorer-text-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px; 
  fill: none;
}

.mode-grid .icon svg {
  width: calc(var(--icon-size-grid));
  height: calc(var(--icon-size-grid));
  stroke-width: 1px; 
}

.mode-list .icon,
.mode-tree .icon {
  margin-block: auto !important;
  width: calc(var(--list-tile-height) * 0.8);
  height: calc(var(--list-tile-height) * 0.8);
}


.mode-grid .icon svg,  
.mode-list .icon svg,
.mode-tree .icon svg {
    stroke-width: 1.5px; 
}

.view-switcher div svg, .explorer-action-btn svg {
  width: 16px;
  height: 16px;
}


html[data-theme="dark"] {
.folderup-tile .icon svg{stroke: oklch(from var(--folder-color) 0.98 c h ); fill: oklch(from var(--folder-color) 0.65 c h );} 
.folder-tile .icon svg{stroke: oklch(from var(--folder-color) 0.98 c h ); fill: oklch(from var(--folder-color) 0.65 c h );} 
.md-tile .icon svg{stroke: oklch(from var(--file-md-color) 0.98 c h ); fill: oklch(from var(--file-md-color) 0.65 c h );} 
.pdf-tile .icon svg {stroke: oklch(from var(--file-pdf-color) 0.98 c h );fill: oklch(from var(--file-pdf-color) 0.65 c h ); }
.image-tile .icon svg{stroke: oklch(from var(--file-img-color) 0.98 c h );fill: oklch(from var(--file-img-color) 0.65 c h ); }
.excalidraw-tile .icon svg{stroke: oklch(from var(--file-ex-color) 0.98 c h );fill: oklch(from var(--file-ex-color) 0.65 c h ); }
.drawio-tile .icon svg{stroke: oklch(from var(--file-dio-color) 0.98 c h ); fill: oklch(from var(--file-dio-color) 0.65 c h ); }
.unknown-tile .icon svg{stroke: oklch(from var(--file-unk-color) 0.98 0 h ); fill: oklch(from var(--file-unk-color) 0.65 c h ); }
}

html[data-theme="light"] {
.folderup-tile .icon svg{stroke: oklch(from var(--folder-color) l c h ); fill: oklch(from var(--folder-color) 0.95 c h );} 
.folder-tile .icon svg{stroke: oklch(from var(--folder-color) l c h ); fill: oklch(from var(--folder-color) 0.95 c h );} 
.md-tile .icon svg{stroke: oklch(from var(--file-md-color) l c h ); fill: oklch(from var(--file-md-color) 0.95 c h );} 
.pdf-tile .icon svg {stroke: oklch(from var(--file-pdf-color) l c h );fill: oklch(from var(--file-pdf-color) 0.95 c h ); }
.image-tile .icon svg{stroke: oklch(from var(--file-img-color) l c h );fill: oklch(from var(--file-img-color) 0.95 c h ); }
.excalidraw-tile .icon svg{stroke: oklch(from var(--file-ex-color) l c h );fill: oklch(from var(--file-ex-color) 0.95 c h ); }
.drawio-tile .icon svg{stroke: oklch(from var(--file-dio-color) l c h );fill: oklch(from var(--file-dio-color) 0.95 c h ); }
.unknown-tile .icon svg{stroke: oklch(from var(--file-unk-color) l c h ); fill: oklch(from var(--file-unk-color) 0.95 c h ); }
}



html[data-theme="dark"]{
  --explorer-bg-color: oklch(0.27 0 0);
  --explorer-hover-bg: oklch(0.65 0 0 / 0.5);
  --explorer-text-color: oklch(1 0 0);
  --explorer-border-color: oklch(0.65 0 0 / 0.5);
  --explorer-accent-color: oklch(0.75 0.25 230);
  --explorer-tile-bg: oklch(0.75 0 0 / 0.1);
  --folder-color: oklch(0.85 0.1 105);
  --file-md-color:  oklch(0.85 0.1 260);
  --file-pdf-color: oklch(0.85 0.1 30); 
  --file-img-color: oklch(0.85 0.1 180); 
  --file-ex-color:  oklch(0.85 0.1 300); 
  --file-dio-color: oklch(0.85 0.1 90); 
  --file-unk-color: oklch(0.85 0 0);
}

html[data-theme="light"]{
  --explorer-bg-color: oklch(0.91 0 0);
  --explorer-hover-bg: oklch(0.75 0 0 / 0.5);
  --explorer-text-color: oklch(0 0 0);
  --explorer-border-color: oklch(0.50 0 0 / 0.5);
  --explorer-accent-color: oklch(0.80 0.18 230);
  --explorer-tile-bg: oklch(0.75 0 0 / 0.1);
  --folder-color: oklch(0.65 0.15 105);
  --file-md-color:  oklch(0.65 0.15 260);
  --file-pdf-color: oklch(0.65 0.15 30); 
  --file-img-color: oklch(0.65 0.15 180); 
  --file-ex-color:  oklch(0.65 0.15 300); 
  --file-dio-color: oklch(0.65 0.15 90); 
  --file-unk-color: oklch(0.65 0 0);
}

/*
==========================================================================
   11. ROOT (Variables)
==========================================================================
*/